<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>CRUD</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="card border-secondary mb-3">
        <div class="card">
            <div class="card-header">
                <div "card-body text-secondary">
                <h3>Editar libro</h3>
            </div>
            <div class="card-body">
                <form action="/books/edit/{{libro._id}}" method="POST"> 
                
                    <div class="form-group">
                        <input type="text" name="id" class="form-control" placeholder="URL de la imagen" value="{{libro.id}}">
                    </div>
                    <div class="form-group">
                        <input type="text" name="titulo" class="form-control" placeholder="titulo" value="{{libro.titulo}}">
                    </div>
                    <div class="form-group">
                        <input type="text" name="autor" class="form-control" placeholder="autor" value="{{libro.autor}}">
                    </div>
                    <div class="form-group">
                        <input type="text" name="editorial" class="form-control" placeholder="editorial" value="{{libro.editorial}}">
                    </div>
                    <div class="form-group">
                        <input type="text" name="pais" class="form-control" placeholder="pais" value="{{libro.pais}}">
                    </div>
                    <div class="form-group">
                        <input type="text" name="genero" class="form-control" placeholder="genero" value="{{libro.genero}}">
                    </div>
                    <div class="form-group">
                        <input type="text" name="fecha" class="form-control" placeholder="fecha" value="{{libro.editorial}}">
                    </div>
                    <div class="form-group">
                        <textarea name="Npaginas" class="form-control">{{libro.Npaginas}}</textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" type="submit">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</body>
</html>